@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

body {
  background: #8d8d8d !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 5px;
}

.auth-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.auth-inner {
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 20px 30px 25px 30px;
  border-radius: 5px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 10px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  float: right;
  text-align: right;
  text-decoration: none;
  font-size: 14px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.link-bottom,
.link-bottom a {
  text-align: right;
  text-decoration: none;
  font-size: 14px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.link-bottom a {
  color: #167bff;
}

.forgot-password a:hover,
.link-bottom a:hover {
  text-decoration: underline;
}

.img-avatar {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  overflow: hidden;
  border-width: 3px;
  border-color: #ffffff;
}

.img-avatar-list {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  overflow: hidden;
  border-width: 1px;
  border-color: #ffffff;
}

.bi {
  vertical-align: -.125em;
}

.sidebar-header {
  background-color: #ebebeb;
  padding: 0.5rem;
}
